<div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
        <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Ingresos</span>
                    <div class="text-900 font-medium text-x1" style="font-size: 2.20rem"><b>$4.842.000</b></div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-wallet text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Gastos</span>
                    <div class="text-900 font-medium text-x1" style="font-size: 2.20rem"><b>$1.500.000</b></div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-money-bill text-orange-500 text-x1"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Diferencia</span>
                    <div class="text-900 font-medium text-x1" style="font-size: 2.20rem"><b>+$3.200.000</b></div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                    <i class="pi pi-dollar text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>

<div class="toolbar">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPresupuestos()" [disabled]="!selectedGastos || !selectedGastos.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
</div>

<div class="table">
    <p-table #dt [value]="presupuestos" [rows]="5" [paginator]="true" [globalFilterFields]="['categoria','descripcion']" responsiveLayout="scroll"
        [(selection)]="selectedPresupuestos" [rowHover]="true" dataKey="idGastos"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Presupuesto Ingresos/Gastos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="fecha">FECHA <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="tipo">TIPO <p-sortIcon field="tipo"></p-sortIcon></th>
                <th pSortableColumn="categoria">CATEGORIA <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="descripcion">DESCRIPCIÓN <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="valor">VALOR <p-sortIcon field="rating"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-presupuesto>
            <tr>
                <td>
                    <p-tableCheckbox [value]="presupuesto"></p-tableCheckbox>
                </td>
                <td>{{presupuesto.fecha}}</td>
                <td><span [class]="'gasto-badge status-' + presupuesto.tipo.toLowerCase()">{{presupuesto.tipo}}</span></td>             
                <td>{{presupuesto.categoria}}</td>
                <td>{{presupuesto.descripcion}}</td>
               <!--td>{{gasto.valor | currency:'USD'}}</td>--> 
                <td>{{presupuesto.valor}}</td>
                 <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPresupuesto(presupuesto)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePresupuesto(presupuesto)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total son {{gastos ? gastos.length : 0 }} registros.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="presupuestoDialog" [style]="{width: '450px'}" header="Ingresar Registro" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
        <div class="p-field">
            <label for="fecha">Fecha</label>
            <p-calendar inputId="basic" [(ngModel)]="presupuesto.fecha"></p-calendar>
            <small class="p-error" *ngIf="submitted && !presupuesto.fecha">Fecha is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Descripción</label>
            <textarea id="description" pInputTextarea [(ngModel)]="presupuesto.descripcion" required rows="3" cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">Tipo</label>
            <p-dropdown [(ngModel)]="presupuesto.categoria" inputId="tipo" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'gasto-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div> 

        <div class="p-field">
            <label class="p-mb-3">Categoria</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="presupuesto.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="presupuesto.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="presupuesto.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="presupuesto.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div>
            </div>
        </div>

        <div class="p-field">
            <label for="valor">Valor</label>
            <input type="text" pInputText id="name" [(ngModel)]="presupuesto.valor" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Valor is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePresupuesto()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
