<div *ngIf="value; then prueba2 else loggedOut"></div>

<ng-template #prueba2>
    <div class="carga">
        <div class="cargahijo">
            <p-progressSpinner class="procesando"></p-progressSpinner>
        </div>
    </div>
</ng-template>

<ng-template #loggedOut>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Ingresos</span>
                        <div [ngSwitch]="sumatoria" class="text-900 font-medium text-x1" style="font-size: 2.00rem" value="sumatoria" ><b>{{sumatoria.sumaIngresos|currency:'USD':'symbol':'1.0-0'}}</b></div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-wallet text-blue-500 text-xl"></i>
                    </div>
                </div>
                <p-divider></p-divider>
                <div>
                    <span class="block text-500 font-medium mb-1">Ingresos del Mes</span>
                    <div [ngSwitch]="sumatoria" class="text-900 font-medium text-x1" style="font-size: 1rem" value="sumatoria" ><b>{{sumatoriaMes.sumaIngresos|currency:'USD':'symbol':'1.0-0'}}</b></div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Gastos</span>
                        <div [ngSwitch]="sumatoria" class="text-900 font-medium text-x1" style="font-size: 2.00rem" ><b>{{sumatoria.sumaGastos|currency:'USD':'symbol':'1.0-0'}}</b></div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-money-bill text-orange-500 text-x1"></i>
                    </div>
                </div>
                <p-divider></p-divider>
                <div>
                    <span class="block text-500 font-medium mb-1">Gastos del Mes</span>
                    <div [ngSwitch]="sumatoria" class="text-900 font-medium text-x1" style="font-size: 1rem" value="sumatoria" ><b>{{sumatoriaMes.sumaGastos|currency:'USD':'symbol':'1.0-0'}}</b></div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <div class="surface-0 shadow-2 p-3 border-1 border-50 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Diferencia</span>
                        <div [ngSwitch]="sumatoria" class="text-900 font-medium text-x1" style="font-size: 2.00rem" ><b>{{sumatoria.diferencia|currency:'USD':'symbol':'1.0-0'}}</b></div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-dollar text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <p-divider></p-divider>
                <div>
                    <span class="block text-500 font-medium mb-1">Diferencia del Mes</span>
                    <div [ngSwitch]="sumatoria" class="text-900 font-medium text-x1" style="font-size: 1rem" value="sumatoria" ><b>{{sumatoriaMes.diferencia|currency:'USD':'symbol':'1.0-0'}}</b></div>
                </div>
            </div>
        </div>
    </div>

    <p-toast></p-toast>

    <div class="toolbar">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help p-mr-2"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPresupuestos()" [disabled]="!selectedPresupuestos || !selectedPresupuestos.length"></button>
            </ng-template>

            <ng-template pTemplate="right">
                <p-calendar class="p-mr-3" [(ngModel)]="date" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" inputId="monthpicker" placeholder="Filtro por fecha..." [showIcon]="true" (onSelect)="filtrarFecha()"></p-calendar>
            </ng-template>
        </p-toolbar>
    </div>

    <div class="table">
        <p-table #dt [value]="presupuestos" styleClass="p-datatable-responsive-demo" [rows]="10" [paginator]="true" [globalFilterFields]="['fecha','categoria','descripcion', 'tipo']" responsiveLayout="scroll"
            [(selection)]="selectedPresupuestos" [rowHover]="true" dataKey="idPresupuesto"
            currentPageReportTemplate=" {first} de {last} total: {totalRecords} " [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h6 class="p-m-0">
                        <b>Presupuesto</b>
                    </h6>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="fecha">Fecha <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="tipo">Tipo Categoria <p-sortIcon field="tipo"></p-sortIcon></th>
                    <th pSortableColumn="categoria">Categoria <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="descripcion">Descripción <p-sortIcon field="category"></p-sortIcon></th>
                    <th pSortableColumn="valor">Valor <p-sortIcon field="rating"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-presupuesto>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="presupuesto"></p-tableCheckbox>
                    </td>
                    <td>{{presupuesto.fecha | date:'dd/MM/yyyy'}}</td>
                    <td><span [class]="'gasto-badge status-' + presupuesto.tipo.toLowerCase()">{{presupuesto.tipo}}</span></td>             
                    <td><b>{{presupuesto.categoria}}</b></td>
                    <td>{{presupuesto.descripcion}}</td>
                    <td><b>{{presupuesto.valor|currency:'USD':'symbol':'1.0-0'}}</b></td>
                    <td>
                        <div class="boton">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPresupuesto(presupuesto)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePresupuesto(presupuesto)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total son {{presupuestos ? presupuestos.length : 0 }} registros.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="presupuestoDialog" [style]="{width: '450px'}" header="Ingresar Registro" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
            <div class="p-field">
                <label for="fecha">Fecha</label>
                <p-calendar [(ngModel)]="presupuesto.fecha" dateFormat="dd/mm/yy" [ngModelOptions]="{standalone: true}" inputId="dateformat"></p-calendar>
                <small class="p-error" *ngIf="!presupuesto.fecha">Fecha es requerido.</small>
            </div>

            <div class="p-field">
                <label for="inventoryStatus">Tipo</label>
                <p-dropdown [(ngModel)]="presupuesto.tipo" inputId="tipo" [options]="statuses" placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'gasto-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="!presupuesto.tipo">tipo es requerido.</small>
            </div> 

            <div class="p-field" *ngIf="presupuesto.tipo == 'gasto'">
                <label for="inventoryStatus">Categoria</label>
                <p-dropdown [(ngModel)]="presupuesto.categoria"  inputId="categoria" [options]="categoriasGastos" placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span>{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="!presupuesto.categoria">Categoria es requerido.</small>
            </div> 

            <div class="p-field" *ngIf="presupuesto.tipo == 'ingreso'">
                <label for="inventoryStatus">Categoria</label>
                <p-dropdown [(ngModel)]="presupuesto.categoria"  inputId="categoria" [options]="categoriasIngresos" placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span>{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="!presupuesto.categoria">Categoria es requerido.</small>
            </div> 

            <div class="p-field">
                <label for="description">Descripción</label>
                <textarea id="description" pInputTextarea [(ngModel)]="presupuesto.descripcion" required rows="3" cols="20"></textarea>
                <small class="p-error" *ngIf="!presupuesto.descripcion">Descripción es requerido.</small>
            </div>

        <!-- <div class="p-field">
                <label class="p-mb-3">Categoria</label>
                <div class="p-formgrid p-grid">
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="presupuesto.categoria"></p-radioButton>
                        <label for="category1">Accessories</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="presupuesto.categoria"></p-radioButton>
                        <label for="category2">Clothing</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="presupuesto.categoria"></p-radioButton>
                        <label for="category3">Electronics</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="presupuesto.categoria"></p-radioButton>
                        <label for="category4">Fitness</label>
                    </div>
                </div>
            </div>-->
          
            <div class="p-field">
                <label for="valor">Valor</label>
                <p-inputNumber [(ngModel)]="presupuesto.valor" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                <small class="p-error" *ngIf="!presupuesto.valor">Valor es requerido.</small>
            </div>

            <br>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="savePresupuesto()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</ng-template>