<div class="container">
    <nav>
        <p-toolbar [style]="{'background-color':'#f0f0f0','height':'100px','border':'1','border-radius':'0'}" >
            <div class="p-toolbar-group-left">
                <p-button label="New" icon="pi pi-plus"></p-button>
                <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>
                    
                <i class="pi pi-bars"></i>
                
                <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton>
            </div>
            
            <div class="p-toolbar-group-right">
                <p-button icon="pi pi-search"></p-button>
                <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
                <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
            </div>
        </p-toolbar>
    </nav>

    <aside>
        <div class="sticky-top">
            <p-toolbar [style]="{'background-color':'#5BA5D8','height':'100px','border':'0','border-radius':'0', 'justify-content': 'center', 'flex-wrap': 'nowrap'}" >
                <div class="p-toolbar-group-left" >
                    <img id="logo" src="/assets/Captura.PNG">
                </div>
            </p-toolbar>
            <div class="top">
                <p-panelMenu [transitionOptions]="'400ms'" [model]="items2" [style]="{'width':'250px'}" [multiple] = "false"></p-panelMenu>
            </div>
        </div>
    </aside>

    <section class="main-body">
        <router-outlet></router-outlet>
    </section>
</div>