<p-toast></p-toast>

<div *ngIf="value; then prueba2 else loggedOut"></div>

<ng-template #prueba2>
    <div class="carga">
        <div class="cargahijo">
            <p-progressSpinner class="procesando"></p-progressSpinner>
        </div>
    </div>
</ng-template>

<ng-template #loggedOut>
    <div class="card">
        <h3>
            <b>Información promedio de Gastos</b>
        </h3>

        <p-divider align="left">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-wallet p-mr-2"></i>
            </div>
        </p-divider>

        <div class="toolbar">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <p-button  label="Filtrar" icon="pi pi-search" class="p-mr-2 p-d-inline-block"  (click)="op.toggle($event)"></p-button>
                 </ng-template>
            </p-toolbar>
        </div>

        <br>

        <div class="table">
            <p-table [columns]="cols" [value]="informaciones" styleClass="p-datatable-responsive-demo">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h7 class="p-m-0">
                            <b>Presupuesto Gastos del {{fechaInicialString}} al {{fechaActualString}}</b>
                        </h7>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <span class="p-column-title">{{col.header}}</span>
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total son {{informaciones ? informaciones.length : 0 }} registros.
                    </div>
                </ng-template> 
            </p-table>
        </div>

        <p-divider align="left">
                <span class="p-tag" style="background-color: #47b475;">GRAFICAS</span>
        </p-divider>

        <div class="left">
            <p-chart type="pie" [data]="data"></p-chart>
        </div>
        
        <div class="right">
            <div class="card">
                <p-chart type="bar" [data]="basicData"></p-chart>
            </div>
        </div>
    </div>

    <p-overlayPanel [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'100ms'" #op [dismissable]="true" [showCloseIcon]="true"  [style]="{width: '410px'}">
        <ng-template pTemplate>
            <div class="p-field p-col-12 p-md-4">
                <label for="range">
                    <b>Filtar por rango de fechas</b>
                </label>
                <br>
                <p-calendar [(ngModel)]="rangeDates" selectionMode="range"  [inline]="true" [readonlyInput]="true" inputId="range" [showIcon]="true"></p-calendar>
                <br><br>
                <button pButton pRipple label="Aceptar" class="w-full" (click)="filtrar()"></button >
            </div>
        </ng-template>
    </p-overlayPanel>

</ng-template>
